<div ng-controller="SheriffOne.Hitbox">
    <a href="#" ng-click="Reset($event)">Reset</a>
    <div ng-repeat="hitbox in model.value track by $index">
        <input ng-model="hitbox.linktext" type="text" name="linktext-{{$index}}" id="linktext-{{$index}}" value="" />
        <input ng-model="hitbox.media.id" type="text" name="media-{{$index}}" id="media-{{$index}}" value="" />
        <a href="#clickedMediaPicker" ng-click="PickMedia($event, $index)" id="mediaPicker-{{$index}}" name="mediaPicker-{{$index}}">Pick media</a>
    </div>
    <button ng-click="AddHitBox($event)" ng-disabled="model.value.length >= 4">Add Hitbox</button>
</div>